/*  your css code here. If applicable */
.Testimonial{
	padding:20px;
	background-color:#f5f5f5;
}
.text{
	paddind:10px;
	border:1px lightgray;
	background-color:white;
}
.author{
	text-align:right;
	font-style:italic;
}